html {
    font:500 .2rem 'roboto';
    color: #333;
    background-color: white;
    font-size: .2rem;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.gray{
    color: gray;
}
#demo {
    /*text-align: center;*/
    /*width: 5rem;*/
    /*margin: 150px auto;*/
}
p {
    margin: 0;
}
#dt {
    margin: 30px auto;
    height: 28px;
    width: 200px;
    padding: 0 6px;
    border: 1px solid #ccc;
    outline: none;
}
button{
    font-size: .8rem;
    border: 1px solid red;
}

/*天数*/
.dday span{
    font-size: .4rem;
}
.ddayCss p{
    font-size: .243rem;
    padding: 0 .8rem;
    line-height: .7rem;
    color: gray;
}
.ddayCssB{
    line-height: .2rem;
    padding: 0 .5rem;
    color: gray;
}
.ddayCssB span{
    font-size: .34rem;
    display: flex;
    line-height: .7rem;
}


.dday button{
    font-size: .4rem;
    margin-left: .5rem;
    margin-bottom: .5rem;
    border: 3px solid #fbb8ae;
    background: white;
    border-radius: .2rem;
    width: 2.3rem;
    padding: .1rem;
}

.dday strong{
    font-size: .6rem;
    margin: 0 .2rem;
}
.select_buttom{
    text-align: center;
}
.select_buttom button{
    font-size: .4rem;
    margin-left: .2rem;
    margin-bottom: .5rem;
    width: 3rem;
    padding: .2rem;
    border-radius: .1rem;
}
/*圆*/
.circular{
    text-align: center;
    width: 3.3rem;
    height: 3rem;
    margin: 1rem auto .5rem auto;
    padding-top: .2rem;
    border-radius: 4.3rem;
    background-color: rgba(255,132,112,0.4);
    /* background: #ff7865; */
    box-shadow: 0 0 0.8rem 0.2rem rgba(255, 132, 112, 0.32);
}

.circular button{
    width: 2.8rem;
    height: 2.8rem;
    text-align: center;
    border: 1px solid #ff8470;
    background: #ff8470;
    border-radius: 3rem;
    font-size: .5rem;
    color: white;
    /*box-shadow: 0 0 2.4rem 0.3rem white;*/
}
/*选择卡*/
.nav-coupon {
    height: .8rem;
    width: 70%;
    margin: .6rem auto;
    border-radius: .2rem;
    border: 4px solid #ff8470;
    text-align: center;
    line-height: 2;
}
.nav-coupon .orange {
    background: #ff8470 !important;
    color: white !important;
}
.nav-coupon .float_left {
    border-top-left-radius:.1rem;
    border-bottom-left-radius:.1rem;
}
.nav-coupon .float_right {
    border-top-right-radius:.1rem;
    border-bottom-right-radius:.1rem;
}

.nav-coupon span {
    display: block;
    width: 50%;
    height: 100%;
    font-size: .4rem;
    line-height: .8rem;
    color: gray;
}
.float_left {
    float: left;
}
/*月份*/
.rilimonth{
    text-align: center;
    font-size: .4rem;
    margin-bottom: 1rem;
    position: relative;
    top: -.7rem;
    font-weight: bolder;
    color: #a5a1a1;
}

