@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,table,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
ul,li { list-style: none; }
img { border: none; }

a:hover {
  text-decoration: none;
}
button,input,select,textarea {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
 
textarea,input {
  resize: none;
  outline: none;
}
textarea {
  resize: none;
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
    color: #b0b0b0 !important;
    text-overflow: ellipsis;
    font-size:0.75rem;
    letter-spacing: 0;
    font-family:"STHeiti","Microsoft YaHei","Microsoft YaHei","SimHei", "Arial Black";
}
:-moz-placeholder {
    color: #b0b0b0 !important;
    text-overflow: ellipsis;
    font-size:0.75rem;
    letter-spacing: 0;
    font-family:"STHeiti","Microsoft YaHei","Microsoft YaHei","SimHei", "Arial Black";
}
::-moz-placeholder {
    color: #b0b0b0 !important;
    text-overflow: ellipsis;
    font-size:0.75rem;
    letter-spacing: 0;
    font-family:"STHeiti","Microsoft YaHei","Microsoft YaHei","SimHei", "Arial Black";
} /* for the future */
:-ms-input-placeholder {
    color: #b0b0b0 !important;
    text-overflow: ellipsis;
    font-size:0.75rem;
    letter-spacing: 0;
    font-family:"STHeiti","Microsoft YaHei","Microsoft YaHei","SimHei", "Arial Black";
}
/*button, input[type=submit], input[type=button], input[type=reset], input[type=radio], input[type=checkbox] {
    cursor: pointer;-webkit-appearance: none;
}*/
button, input[type=submit],input[type=button], input[type=reset] {
    -webkit-appearance: none !important;
    outline: none !important
}
a:focus, button:focus{
    outline: 0;
}

html { -webkit-text-size-adjust: none; font-size: 20px;}
.img { display: block; max-width: 100%; height:auto;  vertical-align:top; border: none; }
.video embed,.video object,.video iframe { width: 100%; height: auto; }
a { text-decoration: none; outline: none;}
em{ font-style: normal;}
table,th,td{border-collapse: collapse;font-weight: lighter; }
.clearfix:after,
.clearfix:before { content: ""; display: table; }
.clearfix:after { clear: both;}
.clearfix { zoom: 1; }
.fl {float: left;}
.fr {float: right;}
body{min-width:16rem; font-family:"STHeiti","Microsoft YaHei","Microsoft YaHei","SimHei", "Arial Black"; font-weight: lighter;background-color: #f8f8f8; color: #414141; font-size: 0.6rem; }

article{
  width: 100%;
  min-width: 16rem;
  box-sizing: border-box;
}

@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important; 
    }
}































