/*还款 refund.html*/
/*.wrap{padding-bottom: 2.5rem;}*/
.m-nav{width: 100%;height:2.45rem;background:#fff;border-top: 1px solid #d6d6d6;position: fixed;bottom: 0px;left: 0;}
.m-nav ul{list-style: none;padding: 0.35rem 0.5%;overflow: hidden;}
.m-nav ul li{float: left;width:33%;text-align: center;font-size: 0.5rem;}
.m-nav ul li a{display: inline-block;}
.m-nav ul li.m-lastnav{margin-right: 0;}
/*灰色状态*/
.m-nav ul li i{width: 1.1rem;height: 1.2rem;display: block;background: url(../images/nav-icon.png)  0 0 no-repeat;background-size: 8rem 1.25rem;margin: 0 auto;margin-bottom: 0.15rem;}
.m-nav ul li p{font-size: 0.5rem;color: #696969;}
.m-nav ul li i.icon3{background-position: -5.5rem 0;}
.m-nav ul li i.icon2{background-position: -2.7rem 0; }
.m-nav ul li i.icon1{background-position: 0 0; }

/*选中状态*/
.m-nav ul li.checked p{color: #e00000;}
.m-nav ul li.checked i.icon1{background-position: -1.25rem 0;}
.m-nav ul li.checked i.icon3{background-position: -6.75rem 0;}
.m-nav ul li.checked i.icon2{background-position:-4.15rem 0;}


.m-refundnumbox{width: 8.35rem;margin:2rem auto 1.5rem;text-align: center;font-size: 0.9rem;color: #5d5d5d;}
.m-refundnumbox p.m-num{color: #ff7200;margin-top: 1.1rem;}
.m-refundnumbox p.m-num span{font-size: 2.1rem;}
.m-addfontsize{font-size: 0.75rem;}
.t-login-center-1 label{float:right;color: #444444;}
.m-bo1px{border-top: 1px solid #e0e0e0;}
.m-addheight{height: 3rem;line-height: 3rem;font-size: 0.75rem;}
.m-addheight input{color: #b0b0b0;}
.m-position{top: 0.85rem;}
.t-error.m-refunderror{padding-bottom: 0.65rem;}

/*还款成功*/
.m-successbox{}
.m-successbg{width: 13.5rem;height: 8.85rem;background: url(../images/m-successbg.png) center center no-repeat;background-size: cover;padding-top: 3.55rem;margin: 0.75rem auto 3.25rem;}
.m-successbg img{width: 3.45rem;height: 2rem;display:block;margin: 0 auto;}
.m-successbg p.m-successtxt{text-align: center;color: #5d5d5d;font-size: 1.25rem;line-height: 0.7rem;margin: 1.2rem 0 2.2rem;}
.m-successbg p.m-borrow{color: #7f7f7f;font-size: 0.75rem;text-align: center;line-height: 0.7rem;}
.m-returnbox{width: 12.5rem;margin: 0 auto;}

/*立即借款无借款记录*/
.m-pbt{padding-bottom: 3.15rem;}
.m-tipbox ul{ height:1.3rem;overflow: hidden;line-height:1.3rem;background: #fff1e5;color: #8e8d8d;font-size: 0.6rem;text-align: center; }
.m-tipbox li{height: 1.3rem; float: left;width:100%;}
.m-information{padding: 1rem 0}
.m-pic{width: 5rem;height: 5rem;overflow:hidden;border: 1px solid #ff7200;border-radius: 5rem;margin: 0 auto;padding: 0.37rem;}
.m-pic img{width: 5rem;height: 5rem;background-color: #fff;border-radius: 5rem;}
.m-name{font-size: 0.9rem;color: #5d5d5d;text-align: center;margin: 0.5rem 0 1rem;line-height: 1rem;}
.m-limit{font-size: 0.6rem;color: #8e8d8d;text-align: center;}
.m-limitnum{font-size: 2.5rem;color: #ff7200;text-align: center;margin: 0.5rem 0 0;}
.m-login-center{margin: 0 0.75rem;background: #fff;  border: 1px solid #e0e0e0;
    border-radius: 0.3rem;}
.m-login-center p.m-title{height: 2.25rem;line-height: 2.25rem;text-align: center;font-size: 0.8rem;border-bottom: 1px solid #e5e5e5;font-size: 0.75rem;color: #5d5d5d;position: relative;}
p.m-tip{text-align: center;padding: 2.55rem 0;}
.m-login-center p.m-title a{width: 1.35rem;height: 1.35rem;display: block;background: url(../images/m-frashbtn.png) 0 0 no-repeat;background-size: cover;position: absolute;top: 0.45rem;right: 0.75rem;}
.m-toborrow{margin: 0.5rem 0.75rem 0;}
.t-red-btn.m-toborrowbtn{width: 100%;}

/*账户管理*/
.m-con{margin: 0.75rem 0 0;}
.m-block{margin-bottom: 0.5rem;background: #fff;padding-left:0 1.8rem;border: 1px solid #e0e0e0;}
.m-pr{position: relative;}
.m-block p{color: #444444;font-size: 0.8rem;line-height: 2.5rem;margin-left: 2.55rem;}
.m-block i{width: 1.1rem;height: 1.1rem;display: block;background: url(../images/m-manage-icon.png) -0.02rem -0.07rem no-repeat;background-size: 1.25rem 15.65rem;position: absolute;left: 0.75rem;top: 0.75rem;}
.m-block em{width: 0.45rem;height: 0.75rem;display: block;background: url(../images/m-manage-icon.png) -0.3rem -1.6rem no-repeat;background-size: 1.25rem 15.65rem;position: absolute;right: 0.75rem;top: 0.9rem;}
.m-block p.m-border{border-bottom: 1px solid #e0e0e0;}
.m-block i.m-changcodeicon{background-position: -0.1rem -3.15rem;}
.m-block i.m-changcardicon{background-position: 0.02rem -5.82rem;}
.m-block i.m-papericon{background-position: -0.02rem -8.85rem;}
.m-block i.m-recodeicon{background-position: -0.02rem -11.2rem;}
.m-block i.m-helpicon{background-position: -0.02rem -14.25rem;}

/*提升额度*/
.m-webbox{margin: 0 0.75rem 0;background: #fff;border: 1px solid #e0e0e0;border-radius: 0.2rem;}
.m-lineblock{height: 2.7rem;line-height:3rem;border-bottom: 1px solid #efefef;position: relative;}
.m-lineblock.m-noborder{border: none;}
.m-lineblock  span{width: 1.3rem;height: 1.3rem;display: inline-block;background-size:cover;border-radius: 1.75rem;position: absolute;top: 0.75rem;left: 0.75rem;}
/*.m-lineblock  span{width: 1.75rem;height: 1.75rem;display: inline-block;background: #f5f5f5 url(../images/m-mailicon.png) 0 0 no-repeat;background-size:cover;border-radius: 1.75rem;position: absolute;top: 0.75rem;left: 0.75rem;}*/
.m-lineblock  .m-autonym{background-image: url(../images/credit/icon_autonym.png);}
.m-lineblock  .m-tongxunlu{background-image: url(../images/credit/icon_addressbook.png);}
.m-lineblock  .m-duanxin{background-image: url(../images/credit/icon_sms.png);}
.m-lineblock  .m-yuyin{background-image: url(../images/credit/icon_callrecords.png);}
.m-lineblock  .m-map{background-image: url(../images/credit/icon_locationinformation.png);}
.m-lineblock  .m-corporation{background-image: url(../images/credit/icon_work.png);}
.m-lineblock  .m-jiating{background-image: url(../images/credit/icon_jiating.png);}
.m-lineblock  .m-urgency{background-image: url(../images/credit/icon_urgency.png);}
.m-lineblock  .m-taobao{background-image: url(../images/credit/icon_taobao.png);}
.m-lineblock  .m-jingdong{background-image: url(../images/credit/icon_jingdong.png);}
.m-lineblock  .m-zhima{background-image: url(../images/credit/icon_zhima.png);}
.m-lineblock  .m-iphone{background-image: url(../images/credit/icon_operater.png);}
.m-lineblock  .m-face{background-image: url(../images/credit/icon_face.png);}
.m-lineblock  .m_face_credit{background-image: url(../images/credit/icon_face_credit.png);}

.m-lineblock label{color: #5d5d5d;font-size: 0.6rem;padding-left: 3rem;}
/*未认证状态*/
.m-lineblock a{color: #fff;font-size: 0.6rem;background: #ff7200;width: 3.3rem;height: 1.35rem;display: inline-block;text-align: center;line-height: 1.35rem;border-radius: 0.2rem;position: absolute;right: 0.75rem;top: 0.75rem;}
/*已认证状态*/
.m-lineblock a.identify{color: #5d5d5d;font-size: 0.6rem;background: #f1f1f1;width: 3.3rem;height: 1.35rem;display: inline-block;text-align: center;line-height: 1.35rem;border-radius: 0.2rem;position: absolute;right: 0.75rem;top: 0.75rem;}
.m-lineblock a.identify1{color: #ff7200;font-size: 0.6rem;background: white;width: 3.3rem;height: 1.35rem;display: inline-block;text-align: center;line-height: 1.35rem;border-radius: 0.2rem;position: absolute;right: 0.75rem;top: 0.75rem;border: 1px solid #f1f1f1}

/*逾期*/
.m-login-center .m-showinfor{padding: 1.25rem 1.15rem 1.25rem 1.7rem;font-size: 0.6rem;color: #5d5d5d;position: relative;}
.m-login-center .m-showinfor span{width:49%;display: inline-block;text-align: center;}
.m-login-center .m-showinfor span.m-border{border-right: 1px solid #e5e5e5;}
.m-login-center .m-showinfor span em{font-size: 1.5rem;color: #ff7200;}
.m-login-center .m-yuqidate{text-align: center;font-size: 0.9rem;color: #8e8d8d;height: 2.5rem;line-height: 2.5rem;background: #fff1e5;}
.m-login-center .m-yuqidate span{color: #ff7200;margin: 0 0.5rem;}
.m-login-center .m-showinfor i{width: 0.55rem;height: 1rem;display: block;background: url(../images/m-gticon.png) 0 0 no-repeat;background-size: cover;position: absolute;top: 1.5rem;right: 1.15rem;}

/*放款中*/
.m-login-center .m-yuqidate span.m-credit{font-size: 1rem;}

/**/
.m-login-center .m-yuqidate.m-check-status{background: #e8e8e8;color: #8e8d8d;font-size: 1rem;}
.t-red-btn.m-graycolor{background: #c9c9c9;color: #ffffff;border: none;}

/*授信管理*/
.c-credit-basics{margin:0.75rem 0.85rem 0.35rem;font-size: 0.75rem}
.c-credit-basics span{float:right;font-size: 0.45rem;padding-top: 0.2rem}
.c-credit-basics-center{text-align:center;font-size: 12px;font-weight:initial}
.votebox {
    width: 80%;
    margin-left: 15px;
    position: relative;
    z-index: 66;
    text-align: center;
}
.barbox {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    margin-bottom: 35px;
}
.barbox dd.barline {
    width: 80%;
    /*background: url(../images/credit/jdtbg.png) left center no-repeat;*/
    height: 16px;
    overflow: hidden;
    display: inline;
}
.barbox dd.barline div.charts {
    height: 16px;
    overflow: hidden;
    background: url(../images/credit/barbg.gif) right center repeat-x;
    border-radius: 8px;
}


.c-credit-promote {
    background: url(../images/credit/icon_bj.png) 0 0 no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    height: 120px;
}

.c-credit-promote .creditban  {
    width: 160px;
    height: 90px;;
    position:relative;
    top:-50px;
    margin:0 auto;
    background: url(../images/credit/icon_ban.png) 0 0 no-repeat;
    background-size: contain;
}
/*借款入口页面*/

.m-pic-borrow{
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    border: 1px solid #ff7200;
    border-radius: 6rem;
    margin: 0 auto;
}
.m-pic-borrow img{
    width: 6rem;
    height: 6rem;
    background-color: #fff;
    border-radius: 6rem;
}




@charset "utf-8";

/*登录页面login.html*/
.t-login-nav{ height: 2.25rem; border-bottom: 1px solid #e0e0e0; padding:0 0.75rem; line-height: 2.25rem; background: #fff;}
.t-login-nav-1 a.t-return{background: url(../images/t-cash-icon.png) no-repeat 0 0 ; width:0.55rem; height:0.9rem; background-size: 0.55rem 0.9rem; display: inline-block; vertical-align: middle;margin-top: 0.7rem; left: 0.75rem; position: absolute;}
.t-login-nav-1{ text-align: center; color: #363636; font-size: 0.8rem;}
.t-login-nav-1 a.t-re{ color: #ff7200; float: right;}
.t-login-center{ margin:0.75rem 0.75rem 0; background: #fff; border: 1px solid #e0e0e0; border-radius: 0.3rem;}

.t-login-center-2{ height: 2.25rem; margin:0 0.75rem; line-height: 2.25rem; position:relative;}
.t-login-center-2 input {font-size: 0.75rem; line-height: 1.5rem; color:#444444; width: 90%;   font-family:"STHeiti","Microsoft YaHei","Microsoft YaHei","SimHei", "Arial Black";font-weight:lighter;}
.t-login-center-2 input.form-time{width:30%; text-align: right; padding-right:0.15rem; box-sizing: border-box;}
.t-login-center-2 input.t-w240px{ width: 6rem;}
.t-login-center-2 .form-label{color: #b0b0b0; font-size: 0.75rem;}


.t-login-center-1{ height: 2.25rem; margin:0 0.75rem; line-height: 2.25rem; position:relative;}
.t-login-center-1 input {font-size: 0.75rem; width: 80%; color:#444444;  font-family:"STHeiti","Microsoft YaHei","Microsoft YaHei","SimHei", "Arial Black";font-weight:lighter; position:absolute;top:0.7rem;left:1.5rem}
.t-login-center-1 input.form-time{width:30%; text-align: right; padding-right:0.15rem; box-sizing: border-box;}
.t-login-center-1 input.t-w240px{ width: 6rem;}
.t-bt1px{border-bottom: 1px solid #e0e0e0;}
.t-bt1px-top{border-top: 1px solid #e0e0e0;}
.t-login-footer{ margin:0.95rem 0.75rem 1.1rem;}
.t-login1{ text-align: right; padding: 0.75rem 0.75rem 0 0;}
.t-login1 a{color: #ff7200; font-size: 0.7rem; clear:both; padding-top: 0.95rem;}
a.t-red-btn,input.t-red-btn,a.t-red-btn2,input.t-red-btn2,a.t-gray-btn,input.t-gray-btn{  border: 1px solid #e00000;height: 2.25rem;width: 100%;box-sizing: border-box;font-size: 0.95rem;text-align: center;line-height: 2.1rem;display: block;border-radius: 0.25rem;background-color: #e00000;color: #fff;font-family:"STHeiti","Microsoft YaHei","Microsoft YaHei","SimHei", "Arial Black";}
a.t-red-btn2,input.t-red-btn2{  background-color: transparent; color: #e00000;}
a.t-gray-btn,input.t-gray-btn{  background-color: #c9c9c9;border: 1px solid #c9c9c9;}
.t-error{ color: #e00000; text-align: center; font-size: 0.7rem; line-height: 1rem; padding-bottom: 0.95rem;}
.t-icon-close{background: url(../images/t-cash-icon8.png) no-repeat 0 0 ; width:0.9rem; height:0.9rem; background-size: 0.9rem; display: inline-block; float: right; margin-top: 0.7rem; display: none; }
/*找回密码 back-pwd.html back-pwd1.html*/
.t-pwd-code{ display:block; height: 1.35rem; line-height: 1.35rem; background: #ff7200; font-size: 0.6rem; text-align: center; color: #fff; padding:0 0.5rem; border-radius: 0.3rem; position: absolute; top:0.45rem; right: 0; cursor: pointer;}
.t-pwd-code.t-gray{ background: #b7b7b7;}
.t-pwd-code em{ font-size:0.65rem; }

/*移动授信验证码*/
.t-pwd-code1{ display:block; height: 1.35rem; line-height: 1.35rem; background: #ff7200; font-size: 0.6rem; text-align: center; color: #fff; padding:0 0.5rem; border-radius: 0.3rem; position: absolute; top:0.45rem; right: 0; cursor: pointer;}
.t-pwd-code1.t-gray{ background: #b7b7b7;}
.t-pwd-code1 em{ font-size:0.65rem; }
.t-pwd-code1.t-top8{ top:0.88rem;}


/*重置密码 reset-pwd.html 弹窗*/
.t-mask{ position: fixed;background-color: rgba(0,0,0,.5);left: 0;right: 0;top: 0;bottom: 0; z-index: 99;}
.t-mask-reset{ position: fixed;background-color: rgba(0,0,0,.5);left: 0;right: 0;top: 0;bottom: 0; z-index: 99;}
.t-bomb_box{ position: fixed; left:0.75rem; right: 0.75rem; top:30%;background:#FFF; border-radius:0.3rem;z-index: 100; }
.t-bomb_box-1{ height: 2.75rem; line-height: 2.75rem; color: #5d5d5d; font-size: 0.9rem; text-align: center;}
/*.t-bomb_box-1{ height: 2.75rem; line-height: 2.75rem; color: #5d5d5d; font-size: 0.9rem; text-align: center; border-bottom: 1px solid #e0e0e0;}*/
.t-bomb_box-2{ text-align: center; color: #8e8d8d; font-size: 0.75rem; padding:1.1rem 1rem;}
.t-bomb_btn{ margin:0 1rem 1rem;}
/*注册  register.html*/
.t-register{ padding:0.5rem 0.75rem 0; color: #b0b0b0; font-size: 0.6rem;}
.t-register span{background: url(../images/t-cash-icon1.png) no-repeat 0 0 ; width:0.575rem; height:0.65rem; background-size: 0.575rem 0.65rem; display: inline-block; vertical-align: text-top; padding-right: 0.3rem;}
.t-register1{ color: #b0b0b0; font-size: 0.65rem; padding-bottom: 0.75rem;}
.t-register1 a{ color: #ff7200;}

label{display: inline-block;}
input[type=checkbox]{display: none;}
input + label{ width: 0.95rem; height: 0.95rem;background: url(../images/t-cash-icon2.png) no-repeat 0 0; background-size: 0.95rem;vertical-align: middle; padding-right: 0.3rem; }
input[type=checkbox]:checked + label{width: 0.95rem; height: 0.95rem;background: url(../images/t-cash-icon3.png) no-repeat 0 0 ;background-size: 0.95rem;}
input[type=radio]{display: none;}
input[type=radio] + label{width: 1.1rem; height: 1.1rem;background:url(../images/t-cash-icon10.png) no-repeat 0 0 ; ;background-size: 1.1rem;vertical-align: middle; padding-right: 0.5rem; }
input[type=radio]:checked + label{width: 1.1rem; height: 1.1rem;background: url(../images/t-cash-icon9.png) no-repeat 0 0 ;background-size: 1.1rem;}

/*核对借款信息 check-loan.html*/
.t-loan{ text-align: center;  height: 2.35rem; line-height: 2.35rem; position:relative; color: #e00000; font-size: 0.9rem;}
.t-loan span{ width: 2rem; height: 1px; background: #e0e0e0; display: inline-block;position: relative;top: -0.3rem;}
.t-loan em{ padding:0 0.5rem;color: #5d5d5d;}
.t-login-center-1{ font-size: 0.7rem; color: #868686;}
.t-login-center-1 .form-label{color: #b0b0b0; font-size: 0.75rem;}
.t-login-center-1 span.t-loan1{ color: #444444; float: right;}
.t-loan2{ color: #868686; font-size: 0.6rem; margin:0.7rem 0.75rem;}
.t-loan2 dt{ color: #ff7200; float: left;line-height: 0.9rem;}
.t-loan2 dd{ margin-left: 0.7rem; line-height: 1rem;}
.t-login-center.t-mt0px{ margin-top:0px;}
/*已逾期 overdue.html*/
/*借款申请审核中 examine.html*/
.t-login-center.t-mb30px{ margin-bottom: 0.75rem;}
.t-loan.t-color-orange{color:#ff7200; }
/*审核失败 examine-fail.html*/
.t-fail{ color: #5d5d5d; font-size: 0.75rem; text-align: center; margin-bottom:1.25rem }
.t-fail-1{ text-align: center;font-size: 0.75rem; color: #5d5d5d; border-bottom: 1px solid #e0e0e0;height: 2.25rem;line-height: 2.25rem; position:relative;}
.t-fail-2{ color: #5d5d5d; font-size: 0.65rem; margin:0 0.75rem; padding:0.75rem 0;}
.t-fail-2 dt{ color: #ff7200; float: left;}
.t-fail-2 dd{ margin-left: 0.7rem; line-height: 1rem; position: relative;}
.t-fail-2 dd a.t-a{ color: #ff7200; float: right;}
.t-fail-2 dd a span.t-icon{ background: url(../images/t-cash-icon4.png) no-repeat 0 0; background-size: 0.3rem 0.55rem; width: 0.3rem; height: 0.55rem; display: inline-block; vertical-align: middle; margin-left: 0.2rem;}
.t-fail-2.t-bt1px{ border-bottom: 1px dashed #dcdcdc;}
.t-fail-2 dd span{ display: inline-block; width: 8.8rem;}
.t-fail-2 dd a.t-a1{ margin-top: 0.6rem;}
.t-fail-3{ padding:0 0.75rem; position: fixed; bottom: 1rem; box-sizing:border-box; width: 100%;}
.t-red-btn2.t-w-half{ width: 48%; float: left;}
.t-red-btn.t-w-half{ width: 48%; float: right}
/*收款/还款银行卡 repayment-bank.html*/
.t-re-bank{ height: 2.25rem; line-height: 2.25rem; color:#5d5d5d; font-size: 0.75rem; margin:0 0.75rem; display:block; border-bottom: 1px solid #efefef;}
.t-re-bank span{background: url(../images/t-cash-icon5.png) no-repeat 0 0; background-size: 0.45rem 0.75rem; width: 0.45rem; height: 0.75rem; display: inline-block; vertical-align: middle;  float: right; margin-top: 0.75rem;}
.t-re-bank1{ margin-top: 0.65rem; color: #b0b0b0; font-size: 0.6rem;}
.t-re-bank1 dt{background: url(../images/t-cash-icon1.png) no-repeat 0 0 ; width:0.575rem; height:0.65rem; background-size: 0.575rem 0.65rem; display: inline-block; vertical-align: text-top; float: left; margin-top: 0.1rem;}
.t-re-bank1 dd{ margin-left: 0.9rem; line-height: 0.9rem;}
.t-bomb_close{background: url(../images/t-cash-icon6.png) no-repeat 0 0; background-size: 0.725rem 0.725rem; width: 0.725rem; height: 0.725rem; display: inline-block; position: absolute; top:0.75rem; right: 0.75rem; cursor: pointer;}
.t-bomb_box-4{ position: relative; font-size: 0.85rem; height: 2.25rem; line-height: 2.25rem}
.t-bank-img{ width: 6.8rem; height:2.5rem; background-size: 6.8rem 2.5rem; position: absolute; }
.t-bank-car{ height: 2.5rem; line-height: 2.5rem; margin:0 0.75rem; border-bottom: 1px solid #e0e0e0;}
.t-bomb_box-5{top: 8%;}
.t-bomb_box-6{ overflow:scroll; height: 11rem; position: relative;}

.coupon-pop-btn{margin:0.6rem 1.125rem 0.75rem;}
.coupon-pop-btn .t-red-btn{background-color: #ff7200; border-color: #ff7200;}

/*已放款 loan.html*/
.t-loan.t-color-gray{ color: #5d5d5d;}
.t-loan.t-color-gray i{ color: #ff7200; font-style: normal;}

/*添加担保卡 add-guarantee*/
.t-add{ color: #5d5d5d;}
.t-bomb_box-2.t-tl{ text-align: left;}
.t-bomb_box-3{padding: 1.1rem 1rem;   font-size: 0.7rem; color: #8e8d8d;}
.t-bomb_box-3 p{ line-height: 1rem;}

/*选择担保卡 select-guarantee*/
.t-select1{height: 2.5rem; line-height: 2.5rem; padding:0.2rem 0.75rem; border-bottom: 1px solid #e0e0e0;}
/*.t-select1 span{background: url(../images/t-cash-icon5.png) no-repeat 0 0; background-size: 0.45rem 0.75rem; width: 0.45rem; height: 0.75rem; display: inline-block; vertical-align: middle;  float: right; margin-top: 0.9rem;}*/
.t-select2{ text-align: center; padding:1rem 0.75rem; font-size: 1.15rem; color: #5d5d5d;}
.t-select3 dl{ text-align: center;  margin:0.875rem;}
.t-select3 dl dt img{background-size: 1.2rem 1.2rem; width: 1.2rem; height: 1.2rem; }
.t-select3 dl dd{ color: #5d5d5d; font-size: 0.7rem; line-height: 1.1rem;}
.t-add-gu1{ color: #5d5d5d; font-size: 0.85rem; padding: 1.2rem 0.75rem; line-height: 1.1rem;}
.t-add-gu1 span{ color: #ff7200;font-size: 0.6rem; display: inline-block; float: right; }
.t-add-gu1 span em{ font-size: 1.5rem;}

/*拍摄照片1 photo.html*/
.t-photo{  text-align: center;width:11.5rem; margin:0.75rem auto 0;}
.t-photo dd{ color: #5d5d5d; font-size: 0.65rem; line-height: 2rem;}
.t-photo dt{position: relative; border-radius: 0.25rem; overflow: hidden;}
img.photo-01{width: 5.375rem; height:3.575rem; }
img.photo-02{width: 5.65rem; height:5.35rem; }
img.photo-03{width: 11.5rem; }

/*提现信息 withdraw-cash.html*/
.t-withdraw{ color: #5d5d5d; font-size: 0.85rem; padding: 0.95rem 0.75rem 0.6rem; line-height: 1.1rem; border-bottom: 1px solid #e5e5e5;}
.t-withdraw span{ color: #ff7200;font-size: 0.6rem; display: inline-block; float: right; }
.t-withdraw span em{ font-size: 1.5rem;}
.t-withdraw.t-bbn{ border: none !important;}
.t-withdraw1{ background: #fff9f4; border-bottom: 1px solid #e5e5e5;}



.t-withdraw2{ padding:1.8rem 0.75rem 0 0.75rem;}
.t-withdraw small{font-size: 0.5rem;}
.t-withdraw .x-mt{margin-top: 0.75rem;}
.t-pro{ height: 0.45rem;
    background: #eaeaea;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    position: relative;
    margin:0 0.95rem;
    position: relative;
}
.t-pro-w {
    height: 0.45rem;
    background: #ff7200;
    border-radius: 0.5rem 0 0 0.5rem;
}
.w-qi {
    position: absolute;
    right: -0.56rem;
    top: -0.6rem;
}
.t-ad{ margin-top: 1rem; overflow: hidden;}
.t-ad span.t-increase{ background: url(../images/t-cash-icon14.png) no-repeat center center;cursor: pointer; width: 2rem; height: 2rem; background-size: 1.1rem 0.9rem; display: inline-block; float: right;}
.t-ad span.t-minus{background: url(../images/t-cash-icon15.png) no-repeat center center;cursor: pointer; width: 2rem; height: 2rem; background-size: 1.1rem 0.9rem;display: inline-block; float: left; margin-bottom:0.9rem; }
.t-jinbi{ margin-top: -2.3rem;}
.t-w-box{ text-align: center;}
.t-w-box dt{ height: 1rem; background: #ffe9d7; display: inline-block; line-height: 1rem; padding:0 0.5rem;}
.t-withdraw2-1{ text-align: center;}
.t-withdraw2-1 span{ height: 1rem; background: #ffe9d7; display: inline-block; line-height: 1rem; padding:0 0.5rem; color: #ff7200; font-size: 0.6rem; border-radius: 0.2rem;}
.t-withdraw2-2{ width:0.35rem; height: 0.2rem; background: url(../images/t-cash-icon13.png) no-repeat 0 0; margin:0 auto;  background-size: 0.35rem 0.2rem; }
.t-withdraw2-3 img{ width: 1.55rem; height: 1.55rem; }
.t-withdraw2-3{text-align: center; margin-top: 0.1rem;}
.t-jinbi1{ margin-left: 0rem; }
.t-withdraw3{ text-align: center; padding:0 5rem; box-sizing:border-box; width: 100%; margin: 1rem 0rem;}
.t-withdraw3 tr td.t-bbx{ border-right: 1px solid #e5e5e5;}
.t-withdraw3 tr{ height: 2.25rem;}
.t-withdraw4{ background: #fff9f4; overflow: hidden; border-bottom: 1px solid #e5e5e5;}
.t-withdraw3-1{ color: #5d5d5d; font-size: 0.75rem; line-height: 1.2rem;}
.t-withdraw3-2{ color: #ff7200; font-size: 0.75rem;}
.t-withdraw3-2 span{ font-size: 1.2rem;}
.hidden{ overflow: hidden;}
.t-withdraw.t-withdraw5{border-bottom:1px solid #e5e5e5;margin:0 0.75rem 0;padding: 0.95rem 0 0.6rem}
.t-icon-close.t-mr{margin-right: 5rem;}
.t-pwd-code.t-top8{ top:0.88rem;}
.t-h{ height: 3rem; line-height: 3rem;}
.t-icon-close.t-mt1{ margin-top:1.1rem;}
.t-login-footer.t-mb1{ margin-bottom: 3.5rem;}









/*提现信息 withdraw-cash.html 160324*/
.t-coupon span.t-coupon-st1{color:#e00000;}
.t-coupon span strong{color:#e00000;}
.t-coupon span.t-coupon-st2{color:#e00000;}
.t-coupon i{width:0.55rem;height:1rem;display:inline-block;margin-left:0.35rem;background:url("../images/m-gticon.png") 0 0 no-repeat;background-size:cover;float:right;}
.t-hr-dash{margin:0 0.75rem ;border-top:1px dashed #dcdcdc;font-size:0; }
.t-font-small{font-size:0.75rem;padding:0.7rem 0.75rem;}
.t-font-small span em{font-size:1rem;}
.t-coupon-hide{display:none;}
.b-marT{margin-top:0.5rem;border-top:1px solid #e5e5e5;}

/*优惠券弹层 withdraw-cash.html 160324*/
/*.t-bomb-absolute{position:absolute;top:20%;}*/
.t-title{padding-left:1.1rem;}
.t-close-btn{width:0.85rem;height:0.85rem;background: url("../images/t-cash-icon6.png") 0 0 no-repeat;background-size:cover;float:right;margin:0.95rem 1.1rem 0.95rem 0;font-size:0;}
.t-coupon-card{height:4.5rem;border:1px solid #efefef;margin:0.6rem 1.125rem 0.5rem; border-radius: 0.125rem;}
.t-coupon-card-tb{height:0.425rem;padding:0 0.31rem;background:#ff7200;}
.t-coupon-card-bg{height:100%;margin:0 auto;background:url("../images/t-cash-icon-circle.png") left bottom no-repeat;background-size:100%;}
.t-coupon-card-list{position:relative;display: box; display: -webkit-box;  display: -ms-flexbox;  display: flex;  display: -webkit-flex;height: 4.1rem;align-items:center;-webkit-align-items:center;  -webkit-box-align:center;}
.t-coupon-item-price{width:4.1rem;text-align:center;color:#ff7200;font-size:1.75rem;}
.t-coupon-item-price>span{font-size:0.95rem;padding-right:0.6rem;}
.t-coupon-item-des{padding-left:1.25rem;}
.t-des-txt1{color:#ff7200;font-size:0.7rem;line-height: 1rem;}
.t-des-txt2{color:#5d5d5d ;font-size:0.5rem;line-height: 0.875rem;}
.t-des-txt3{color:#939393;font-size:0.5rem;}
.t-check-btn{width:1.15rem;height:1.15rem;background:url("../images/t-cash-icon-btn.png") left bottom no-repeat;background-size:cover;font-size:0;position:absolute;right:0.25rem;top:0.5rem;}
.t-check-btn-active{background:url("../images/t-cash-icon-btn.png") left top no-repeat;background-size: cover;}

/*失效 withdraw-cash.html 160324*/
.t-expire .t-coupon-card-tb{background:#c5c5c5;}
.t-expire .t-coupon-item-price,.t-expire .t-des-txt1,.t-expire .t-des-txt2,.t-expire .t-des-txt3{color:#c5c5c5;}

/*优惠券使用规则 coupons.html 160324*/
.t-rules{height:1.45rem;line-height:2.2rem;padding-right:1.125rem;text-align:right;}
.t-rules>a,.t-rules>a:active{color:#fe8422;font-size:0.65rem;}
.t-rules>img{width:0.75rem;height:0.75rem;vertical-align: -0.15rem;}
.t-rules-item{padding:0.625rem .95rem 1.7rem 0.8rem;}
.t-rules-item li{display: box; display: -webkit-box;  display: -ms-flexbox;  display: flex;  display: -webkit-flex;}
.t-rules-item li>p{line-height: 0.95rem;font-size:.7rem;color:#8e8d8d;margin-bottom:.2rem;}
.t-rules-item li>span{margin-right:.55rem;margin-top:0.15rem;color:#ff7200;}

/*优惠券历史记录 coupons.html 160324*/
.t-expire-tag{width:3.625rem;height:3.425rem;background:url("../images/t-cash-tag1.png") left top no-repeat;background-size:cover;font-size:0;position:absolute;right:0.25rem;top:-0.25rem;}
.t-tag-used{background:url("../images/t-cash-tag2.png") left top no-repeat;background-size:cover;}

/*优惠券选项卡 coupons.html 160324*/
a,button,input,optgroup,select,textarea{  -webkit-tap-highlight-color:rgba(0,0,0,0);}
.t-tab{height:1.75rem;line-height: 1.75rem;background:#fff;display: box; display: -webkit-box;  display: -ms-flexbox;  display: flex;  display: -webkit-flex;align-items:center;-webkit-align-items:center;  -webkit-box-align:center;}
.t-tab li{width:50%;height:100%;text-align:center; }
.t-tab li>a,.t-tab li>a:link,.t-tab li>a:visited,.t-tab li>a:active{display:inline-block;width:4rem;text-align:center;color:#363636;font-size:0.7rem;}
.t-tab-on{display:none;}
.t-tab li.t-tab-cur>a,.t-tab li.t-tab-cur>a:active{color:#ff7200;border-bottom:2px solid #ff7200;}


/*loading*/
.t-loading{ position: absolute; top:50%; left: 50%; margin:-18px 0 0 -18px; z-index: 258; }
.t-loading img{ width: 37px; height: 37px;}


/* 404 */
.x-error{position: fixed; left: 0.75rem; top: 0; right: 0.75rem; line-height: 1.2rem; bottom: 0; text-align: center; color: #ff7200; font-size: 0.85rem; font-weight: lighter;}
.x-error img{width: 11.3rem; margin:2.5rem 0 3rem;}
.whitebg{background-color: #fff;}

/*担保卡*/
.t-select-center{margin:0.75rem 0.75rem 0; background: #fff; border: 1px solid #e0e0e0; border-radius: 0.3rem 0.3rem 0 0; box-shadow: 0 0.1rem 0 #e0e0e0; cursor: pointer; position: relative;}
.t-select-center.t-select{ border: 2px solid #ff7200; box-shadow: 0 0.1rem 0 #ff7200; }
.t-select-overdue{ width: 100%; height: 100%; background-color: rgba(0,0,0,.3); position: absolute; top:-1px; left: -1px; padding-bottom: 0.1rem; border-radius: 0.3rem 0.3rem 0 0;border: 1px solid #9c9c9c;}
.t-select-overdue p{ text-align: center; font-size: 0.9rem; color: #fff; padding:1.5rem 0 .6rem 0;}
.t-overdue-btn{ width: 5.8rem; height: 1.5rem; background: #ffffff; border-radius: 0.2rem; margin:0 auto; display: block; color: #414141; font-size: 0.65rem; line-height: 1.5rem; text-align: center;}
.t-overdue-icon{background: url(/static/images/t-cash-icon20.png) no-repeat 0 0; width: 0.6rem; height:0.55rem; background-size: 0.6rem 0.55rem; display: inline-block; margin-left: 0.3rem; }

/*立即还款*/
.t-w-r{ width: 9rem; text-align: right;}


.x-photo-btn{position: absolute; width:100%; left:0;bottom: 0; line-height: 1.35rem; height: 1.35rem; background-color: rgba(0,0,0,.4); color: #fff;}


/* borrow */
.borrow-wrap{text-align: center; padding: 0.5rem;}
.borrow-title{ line-height: 1rem; font-size:0.9rem; color: #5d5d5d; padding-bottom: 1.25rem; }
.borrow-title i{display: inline-block; vertical-align: middle; width: 2rem; height: 1px; overflow: hidden; font-size: 0; background-color: #e0e0e0;}
.borrow-title span{margin:0 0.5rem; }

.borrow-btn{width:10.5rem; display: inline-block; height: 3rem; line-height: 3rem; text-align: center; background-color: #ff7200; color: #fff; font-size: 0.95rem; margin-top: 1.75rem; border-radius: 0.25rem;}
.borrow-btn.disable{background-color: #c9c9c9; margin-bottom: 1rem;position: relative;}
.borrow-btn.disable ins{position:absolute;width:2.9rem; height: 2.05rem; right: 0; top:0;background: url(../images/borrow-icon.png) no-repeat 0 0; background-size: 2.9rem 3rem;}
.borrow-txt{width:11.5rem; text-align: left; padding-left: 1.1rem; position: relative; margin: 0 auto;font-size: 0.6rem; line-height: 0.9rem; }
.borrow-txt i{position: absolute; left: 0; top:0; width:0.75rem; height: 0.75rem; background: url(../images/borrow-icon.png) no-repeat 0 -2.25rem; background-size: 2.9rem 3rem;}


/*借款记录 bichunfeng*/
.b-color-red{color:#e00000;}
.b-color-orange{color:#ff7e00;}
/*.b-withdraw-list{margin-top:0.75rem;padding:0.25rem 0.5rem;border-top:1px solid #e0e0e0;background-color: #fff;}*/
.b-withdraw-list{padding:0.25rem 0.5rem;background-color: #fff;}
.b-withdraw-list>table{width:100%;table-layout: fixed;text-align: center;}
.b-withdraw-list th{height: 1.65rem;font-size: .75rem;border-right: 1px solid #e0e0e0;}
.b-withdraw-list td{padding:0.875rem 0;font-size:.65rem;}
.b-nopad{padding:0 !important;}
.b-nobr{border-right: none !important;}
.b-line-mart{margin-top:.25rem;}
.b-line{border-top:1px solid #e0e0e0;font-size: 0;margin-left:.7rem;}
.b-td-check{width:10%;}
.b-btn-check{width: 0.55rem;height: 1rem;display: inline-block;margin-left: 0.35rem;background: url("../images/m-gticon.png") 0 0 no-repeat;background-size: cover;}

/*授信管理 bichunfeng*/
.b-flex-box{display: -webkit-box;  display: -webkit-flex;  display: -ms-flexbox;  display: flex;  -webkit-box-align: center;  -webkit-align-items: center;  -ms-flex-align: center;  align-items: center;}
.b-credit-list{height: 3.25rem;border-bottom:1px solid #e0e0e0;font-size: 0.75rem;}
.b-credit-list:last-child{border: 0;}
.b-credit-info{margin:0.75rem;font-size:0.75rem;}
.b-credit-icon{padding-left:0.175rem;width:3rem;text-align: center;}
.b-icon{display:inline-block;width:1.75rem;height:1.75rem;line-height:1.95rem;border-radius: 50%;background-color:#f5f5f5;}
.b-icon1{width:0.7rem;}
.b-icon2{width:0.775rem;}
.b-icon3{width:0.75rem;}
.b-icon4{width:1.05rem;}
.b-icon5{width:1.275rem;}
.b-icon6,.b-icon7{width:0.8rem;}
.b-credit-txt{text-align: left;width: 60%;}
.b-credit-btnbox{width:4.75rem;text-align: center;}
.b-credit-btn{display: block;width:3.3rem;line-height: 1.35rem;font-size:.6rem;text-align:center;margin-right:0.75rem;color:#5d5d5d;border-radius: 0.1rem;}
.btn-default{background-color:#f1f1f1;}
.btn-active{background-color:#ff7200;color:#fff;}
.b-credit-marb{margin-bottom: 0.75rem;}

/*补充信息 bichunfeng*/
.b-supple-infotxt{ padding:0.75rem 0.75rem 0; font-size: 0.65rem;}
.b-form-select{position:absolute;z-index:2;top: 0.4rem;left: 1.5rem;width: 70%;height: auto;font-size: 0.75rem;line-height: 1.5rem;color: #444444;font-family: "STHeiti","Microsoft YaHei","Microsoft YaHei","SimHei", "Arial Black";font-weight: lighter;background-color: transparent;}
.b-tip-bar{position:relative;padding:0 0.75rem;line-height:1.125rem;color:#666;background-color: #fbeabc;font-size:0.5rem; }
.t-tip-close{position:absolute;top:0.35rem;right:0.75rem;display: inline-block;width:0.4rem;height:0.4rem;background: url("../images/b-tip-close.png") center center no-repeat;font-size: 0;}
.b-supple-tiparea{margin:1.25rem 0;line-height:.75rem;text-align: center;color:#919191;font-size:0.6rem;}
.b-icon-select{position:absolute;right:0;top:0;z-index:1;background: url(../images/m-gticon.png) no-repeat 0 0 ; width:0.55rem; height:1rem; background-size: cover; display: inline-block; float: right; margin-top: 0.7rem; display: block;}
/*进度条 bichunfeng 0505*/
.progress-bar{margin:0.75rem 1.5rem;}
.progress-bar li{width: 23%;height:.25rem;border:1px solid #c8c8c8;position: relative;}
.progress-bar li:first-child,.progress-bar li:last-child{width:15%;}
.progress-bar li:first-child{border-bottom-left-radius: .1rem;border-top-left-radius: .1rem;}
.progress-bar li:last-child{border-bottom-right-radius: .1rem;border-top-right-radius: .1rem;}
.progress-zindex4{z-index: 4;}
.progress-zindex3{z-index: 3;}
.progress-zindex2{z-index: 2;}
.progress-zindex1{z-index: 1;}
.progress-zindex0{z-index: 0;}
.progress-num{position:absolute;top:-100%;right:-0.3rem;z-index:2;text-align: center;width:0.65rem;height: 0.65rem;line-height:0.65rem;border:1px solid #c8c8c8;background-color: #c8c8c8;color:#fff;border-radius: 50%;font-size: .5rem;}
.progress-default{background-color: #c8c8c8;}
.progress-active{background-color: #ff7200;}

/*城市联动*/
.prov,.city{font-size: 0.75rem;color:#444;background: transparent;}
.address-color{color:#b0b0b0;font-size: 0.75rem;}

/*担保比例*/
.t-hr-dash{
    margin: 0 0.75rem;
    border-top: 1px dashed #dcdcdc;
    font-size: 0;
}
.t-withdraw2{
    padding: 1.6rem 0.75rem
}
.t-withdraw_line{
    margin-bottom:1.1rem;
}

/*字框前面的小标志*/
.t-icon-sign{
    width: 0.9rem;
    height: 0.9rem;
    background-size: 0.9rem;
    float: left;
    margin-top: 0.6rem;
    margin-right: 0.5rem;
}
.t-login-center-1 .comname{
    background: url(../images/credit/icon_corporation_com.png)  no-repeat scroll 0 0 transparent;
    background-size: cover;
}
.t-login-center-1 .icon_comtell{
    background: url(../images/credit/icon_telephone.png)  no-repeat scroll 0 0 transparent;
    background-size: cover;
}
.t-login-center-1 .icon_name{
    background: url(../images/credit/icon_name.png)  no-repeat scroll 0 0 transparent;
    background-size: cover;
}
.t-login-center-1 .icon_relation{
    background: url(../images/credit/icon_relation.png)  no-repeat scroll 0 0 transparent;
    background-size: cover;
}

.t-login-center-1 .icon_iphone2{
    background: url(../images/credit/icon_iphone2.png)  no-repeat scroll 0 0 transparent;
    background-size: cover;
}
.t-login-center-1 .icon_address{
    background: url(../images/credit/icon_address.png)  no-repeat scroll 0 0 transparent;
    background-size: cover;
}

.t-login-center-1 .icon_password{
    background: url(../images/credit/icon_password.png)  no-repeat scroll 0 0 transparent;
    background-size: cover;
}
.t-login-center-1 .icon_password{
    background: url(../images/credit/icon_password.png)  no-repeat scroll 0 0 transparent;
    background-size: cover;
}
.b-icon-jingdong{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.95rem;
    background: url(../images/credit/icon_jingdong.png)  no-repeat scroll 0 0 transparent;
    background-size: cover;
}
/*借款入口*/
.borrow-rukou{
    width: 11.5rem;
    text-align: center;
    position: relative;
    margin: 1rem auto;
    font-size: 14px;
    line-height: 0.9rem;
    color: #CAC3C3;
}